---
import { SITE_TITLE } from '../consts';
const today = new Date();
---

<footer>
	<p>
		&copy; {today.getFullYear()} {SITE_TITLE}. 用 Astro + 腾讯云 EdgeOne Pages 构建.
	</p>
</footer>
<style>
	footer {
		padding: 2em 1em 3em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: 0.9em;
	}
	footer p {
		margin: 0;
	}
</style>
